body {
  font-family: "Work Sans", sans-serif;
  padding: 20px;
  background-color: #1e1e1e;
  font-size: 16px;
  color: #fff;
}

h1 {
  font-weight: bold;
  color: #ccc;
}

button {
  padding: 10px 20px;
  margin-bottom: 10px;
  font-size: 16px;
  background-color: #444;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #333;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #666;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #333;
  color: #fff;
}

#selectLedger {
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  margin: 0 auto 20px;
  font-size: 18px;
  line-height: 1.5em;
}

.appField {
  margin-bottom: 20px;
}

.appValue {
  padding: 10px;
  font-size: 16px;
  background-color: #333;
  border-radius: 5px;
  margin-bottom: 10px;
  color: #fff;
}

#flexContainer {
  display: flex;
  flex-wrap: wrap;
}

.flexColumn {
  width: 100%;
  max-width: 50%;
  margin-bottom: 20px;
}

#standbyApp,
#operationalApp {
  background-color: #444;
  padding: 30px;
  border-radius: 10px;
}

#standbyTransact,
#operationalTransact {
  background-color: #555;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

#standbyResultField,
#operationalResultField {
  padding: 10px;
  font-size: 16px;
  background-color: #333;
  border-radius: 5px;
  margin-bottom: 20px;
  height: 150px;
  overflow-y: scroll;
}

input[type="checkbox"] {
  margin-right: 5px;
}
